@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Varela Round';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05640a;
    height: 100vh;
}
form
{   
    margin-left: 2%;
    margin-top: 5%;
    font-size: 30px;
}
input
{
    border: solid;
    background-color: #FFFFFF;
    border: 2px solid #467D21;
    box-shadow: 8px 8px rgb(89,60,60,0.28);
    border-radius: 50px;
    margin-bottom: 4%;
    text-align: center;
    padding: 8% 19%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input.sub_but
{
    padding-left:40%;
    padding-right:40%;
    padding-top: 6%; 
    padding-bottom: 6%;
    font-weight:bold; 
    font-size:30px; 
    font-family: 'Varela Round';
    margin-top: 5%;

}
::-webkit-file-upload-button {
    display: none;
 }