@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
}
body
{
    font-family: 'Varela Round';
    background-color: #05640a;
}
a, i
{
    cursor: pointer;
}
a
{
    text-decoration: none;
}
a
{
    color: white;
}
p
{
    font-size: 20px;
    margin-bottom: 5%;
}