@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
}
body
{
    font-family: 'Varela Round';
    background-color: #22710B;
}
.html_session
{
    color: #ffffff;
    background-color: #22710B;
    padding-left: 5%;
    padding-top: 5%;
}
h1
{
    color: #ffffff;
    font-size: 50px;
}
h2
{
    color: #ffffff;
    font-size: 30px;   
}
h2
{
    padding-left: 5%;
    padding-top: 3%;  
}
table
{
    width:90%;
    background-color: #ffffff;
}
table
{
    margin-left: 5%;
    margin-top: 3%;
}
table, th, td {
    border: 2px solid rgb(196, 195, 195);
    border-collapse: collapse;
}
td
{
    text-align: center;
}
td, th
{
    padding: 2%;
}
a
{
    text-decoration: none;
    color: inherit;
}
a.pages
{
    color: #ffffff;
    margin-left: 10%;
}
a.checkout_style
{
    width: max-content;
    white-space: nowrap;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(53,140,61,1);
    background-color: #ffffff;
    border-radius: 55px;
    border: none;
    box-shadow: 10px 10px rgb(89,60,60,0.28);
}
a.checkout_style
{
    margin-top: 3%;
    margin-left: 5%;
}
a.checkout_style
{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
.action
{
    padding-left: 9%;
    padding-right: 9%;
}
.checkout_input
{
    background-color: transparent;
    border: none;
    font-family: 'Varela Round';
    font-size: 17px;
}